<form
  (submit)="onSubmitTeam(createTeamForm)"
  #createTeamForm="ngForm"
  *ngIf="auth0.user$ | async as user; else loggedOut"
>
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-4">
      <input
        type="text"
        class="form-control"
        ngModel
        #nameInput="ngModel"
        name="name"
        [(ngModel)]="name"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-10">
      <input
        type="hidden"
        class="form-control"
        ngModel
        #authorInput="ngModel"
        name="author"
        [(ngModel)]="author"
        [defaultValue]="user.email"
        value="{{ user.email }}"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-3">
      <div class="input-group mb-3">
        <input
          type="file"
          class="form-control"
          ngModel
          #selectedImageInput="ngModel"
          name="selectedImage"
          (change)="onFileSelected($event)"
        />
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-3">
      <div class="input-group mb-3">
        <div class="form-check">
          <input
            name="public"
            [(ngModel)]="public"
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
            checked
          />
          <label class="form-check-label" for="flexCheckChecked">
            Set public
          </label>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Insert</button>
</form>
<ng-template #loggedOut>
  <p>You must be logged in to create teams</p>
  <a routerLink="/">Back to home</a>
  <a (click)="loginRedirect()">Log in</a>
</ng-template>
