<div style="display: flex; flex-direction: row; column-gap: 10px; height: 75px">
  <img style="height: 95%; margin: auto 0" src="{{ team_img }}" />
  <p
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 0;
      margin-top: 0;
    "
  >
    {{ team }}
  </p>
</div>
<div style="height: 500px">
  <ag-grid-angular
    style="width: 100%; height: 100%"
    class="ag-theme-alpine"
    [suppressRowClickSelection]="true"
    [rowSelection]="rowSelection"
    [rowData]="rowData$ | async"
    [rowSelection]="'multiple'"
    [animateRows]="true"
    (gridReady)="onGridReady($event)"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
  ></ag-grid-angular>
</div>
<button type="button" class="btn btn-primary" (click)="saveChanges()">
  Change
</button>
